@model BloodDonationApp.Web.ViewModels.Request.AllRequestsViewModel
@{
    ViewData["Title"] = "AllRequests";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@ViewData["Title"]</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">EmergencyStatus</th>
                        <th scope="col">HospitalName</th>
                        <th scope="col">BloodGroup</th>
                        <th scope="col">RhesusFactor</th>
                        <th scope="col">Content</th>
                        @if (this.User.IsInRole("Donor"))
                        {
                            <th scope="col">Apply for donation</th>
                        }
                        else if (this.User.IsInRole("Hospital"))
                        {
                            <th scope="col">Delete</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var request in @Model.Requests)
                    {
                    <tr>
                        <th scope="row">@request.EmergencyStatus</th>
                        <td>@request.HospitalName</td>
                        <td>@request.BloodGroup</td>
                        <td>@request.RhesusFactor</td>
                        <td>@request.Content</td>
                        @if (this.User.IsInRole("Donor"))
                        {
                            <td>
                                <form asp-area="" asp-controller="DonationEvents" asp-action="Create" method="get">
                                    <button class="btn btn-primary">Donattion</button>
                                    <input type="hidden" name="requestId" value="@request.Id" />
                                    <span asp-validation-for="@request.Id"></span>
                                </form>
                            </td>
                        }
                        else if (this.User.IsInRole("Hospital"))
                        {
                            <td>
                                <form asp-area="" asp-controller="Requests" asp-action="Delete">
                                    <button class="btn btn-danger">Delete</button>
                                    <input type="hidden" name="requestId" value="@request.Id"/>
                                    <span asp-validation-for="@request.Id"></span>
                                </form>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
