@model BloodDonationApp.Web.ViewModels.Request.RequestInfoViewModel
@{
    ViewData["Title"] = "Create";
}

<section style="padding: 5%;">
    <div class="container-fluid">
        <h3 class="text-center">Your donation to the selected request:</h3>

        <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">Blood Group: @Model.BloodGroup</li>
            <li class="list-group-item">Rhesus Factor: @Model.RhesusFactor</li>
            <li class="list-group-item">Quantity: @Model.NeededQuantity</li>
            <li class="list-group-item">Recipient Emergency Status: @Model.EmergencyStatus</li>
        </ul>
        <div>
            <form asp-area="" asp-controller="DonationEvents" asp-action="Create" method="post">
                <button class="btn btn-outline-danger">Donate blood and save live!</button>
                <input type="hidden" name="requestOrHospitalId" value="@Model.Id" />
                <span asp-validation-for="@Model.Id"></span>
            </form>
        </div>        
    </div>
</section>

@section Links {
    <div style="padding: 1%;">
        <h6 class="text-center">For more information reagrading the medical examination for your blood, please see:</h6>
        <a class="nav-link text-center" href="https://ncth.bg/kak-da-pomogna/izsledvaniya">Examinations for donated blood</a>
    </div>
}
