@model BloodDonationApp.Web.ViewModels.Hospital.AllHospitalsViewModel
@{
    ViewData["Title"] = "All Hospitals";
}

<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">@ViewData["Title"]</h1>
        <div style="padding: 5%;">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Hospital name:</th>
                        <th scope="col">Recipients count:</th>
                        <th scope="col">Donate Directly to Hospital:</th>
                        <th scope="col">Blood Reservs:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var hospital in @Model.Hospitals)
                    {
                        <tr>
                            <th>@hospital.Name</th>
                            <td>@hospital.RecipientCount</td>                            
                            <td>
                                <form asp-area="" asp-controller="DonationEvents" asp-action="Create" method="get">
                                    <button class="btn btn-primary"> Donate Whitout Request</button>
                                    <input type="hidden" name="requestOrHospitalId" value="@hospital.Id" />
                                </form>
                            </td>
                            <td>
                                <form asp-controller="Hospitals" asp-action="DetailsHospital" method="get">
                                    <button class="btn btn-warning">Blood Reservs</button>
                                    <input type="hidden" name="userHospitalId" value="@hospital.Id" />
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
